<div class="content">
  <p>
  Hi <%= notification.subject.first_name %>,
  </p>

  <p>
    Thanks for joining. Here are some great first steps to get started.
  </p>

  <p style="text-align:center;padding:20px;">
    <a class="button" href="<%= append_tracking(root_url) %>">Get started</a>
  </p>
</div>
